.App {
  flex: 1;
  display: flex;
  width: undefined;
  min-height: 100vh;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  /* border: 1px solid; */
}
div {
  box-sizing: border-box;
  /* border: 1px solid; */
}
